html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans- -serif;
  scroll-behavior: smooth;
  padding-top: 25px;
}

.jumbotron {
  margin-bottom: 0;
}

.bgc-white {
  background: white!important;
}

.navbar {
  border: none;
}

.m-toptry {
  height: 60px;
  line-height: 40px;
}

.navbar-default .navbar-nav>li>a {
  color: #28334B;
}

.navbar-nav>li>a {
  padding: 20px 18px;
}

.navbar-nav>li:last-child {
  padding-left: 18px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #218BFC;
}

.phone::before {
  content: ' ';
  background: url(../img/telephone.svg) no-repeat;
  background-size: cover;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 0px;
  top: 22px;
}

.navbar-right {
  margin-right: 0!important;
}

.toptry {
  min-width: 88px;
  /* background: rgba(59, 153, 252, 1)!important; */
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.toptry a {
  color: #ffffff!important;
  background: rgba(59, 153, 252, 1)!important;
}

.logo {
  margin-left: 0px!important;
  display: inline-block;
  width: 100px;
  height: 60px;
  background: url(../img/logo.svg) no-repeat center center;
  background-size: 100% auto;
}

.shuxian {
  width: 1px;
  height: 14px;
  background: rgba(40, 51, 75, 1);
  margin-top: 24px;
  margin-left: 112px;
}

.logo::after {
  content: '美业收银';
  font-size: 14px;
  font-weight: 400;
  color: rgba(40, 51, 75, 1);
  position: relative;
  left: 110px;
  top: 5px;
}

.main-bgimg {
  background: linear-gradient(90deg, rgba(0, 0, 70, 0) 0%, rgba(7, 7, 48, 0.41) 32%, rgba(16, 16, 16, 1) 100%);
  background: url(../img/homebanner@2x.jpg) no-repeat center center;
  background-size: cover;
  color: #ffffff;
  height: 400px;
}

.main-bgimg h2 {
  max-width: 513px;
  /* height: 108px; */
  font-size: 36px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 54px;
  user-select: none;
  margin-top: 26px;
  margin-bottom: 16px;
}

.main-bgimg .subtxt {
  width: 307px;
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 24px;
  user-select: none;
  margin-bottom: 24px;
}

.main-bgimg .trybtn {
  width: 140px;
  height: 44px;
  line-height: 32px;
  background: rgba(59, 153, 252, 1);
  border-radius: 24px;
  outline: none!important;
  border: none!important;
  margin-bottom: 8px;
}

.main-bgimg .count {
  width: 135px;
  height: 18px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 18px;
  user-select: none;
}

.main-server .title {
  height: 48px;
  font-size: 32px;
  font-weight: 400;
  color: rgba(40, 51, 75, 1);
  line-height: 48px;
  text-align: center;
  margin-bottom: 32px;
}

.main-server p {
  text-align: center;
  margin-bottom: 32px;
}

.main-server img {
  max-height: 160px;
  max-width: 160px;
  width: 100%;
}

.main-server {
  background-color: #fff;
  padding-top: 48px;
  padding-bottom: 24px;
}

.main-server .imgdes::before {
  content: " ";
  position: absolute;
  width: 65px;
  height: 65px;
  left: calc(50% - 32.5px);
  top: 26px;
  /* margin-left: -50%; */
}

.main-server .imgdes::after {
  content: "";
  color: #ffffff;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 24px;
  font-size: 20px;
}

.main-server .imgdes:nth-last-child(4)::before {
  background: url(../img/mfhf.svg) no-repeat center center;
  background-size: cover;
}

.main-server .imgdes:nth-last-child(3)::before {
  background: url(../img/mjmj.svg) no-repeat center center;
  background-size: cover;
}

.main-server .imgdes:nth-last-child(2)::before {
  background: url(../img/mrmt.svg) no-repeat center center;
  background-size: cover;
}

.main-server .imgdes:last-child::before {
  background: url(../img/ysbj.svg) no-repeat center center;
  background-size: cover;
}

.main-server .imgdes:nth-last-child(4):after {
  content: "美发养发";
}

.main-server .imgdes:nth-last-child(3)::after {
  content: "美甲养睫";
}

.main-server .imgdes:nth-last-child(2)::after {
  content: "美容养体";
}

.main-server .imgdes:last-child::after {
  content: "养生保健";
}

.main-com {
  background: rgba(245, 249, 255, 1);
  position: relative;
  text-align: center;
  padding-top: 48px;
}

.main-com.sum {
  background-image: url(../img/pd.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center calc(100% + 119px);
}

.main-com p {
  margin-bottom: 0;
}

.main-com .title {
  height: 48px;
  font-size: 32px;
  font-weight: 400;
  color: rgba(33, 139, 252, 1);
  line-height: 48px;
  text-align: center;
  margin-bottom: 8px;
}

.main-com .tip {
  font-size: 14px;
  font-weight: 400;
  color: rgba(40, 51, 75, 1);
  text-align: center;
  line-height: 20px;
}

.main-com img {
  display: block;
  width: 960px;
  margin: 32px auto 0;
  z-index: 5;
}

.lxwm {
  padding: 0;
}

.lxwm .imgbox {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.lxwm img {
  width: 100%;
  margin: 0;
}

.lxwm .form {
  /* width: 361px;
  height: 276px; */
  margin: auto auto;
  height: 276px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

#form input {
  width: 300px;
  border-radius: 22px;
  margin: 0 auto;
  height: 40px;
}

#form .btn-primary {
  height: 44px;
  line-height: 33px;
  width: 300px;
  border-radius: 22px;
  margin: 0 auto;
  background: rgba(59, 153, 252, 1)!important;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  border: none!important;
  outline: none!important;
}

.trybtn:hover,.toptry>a:hover,#form .btn-primary:hover {
  background: rgba(83, 166, 252, 1)!important;
}

.has-error .form-control {
  border-color: red;
}

#form .help-block {
  color: red;
}

#form .help-block {
  width: 300px;
  text-align: left;
  margin: 0 auto;
  text-indent: 1em;
  display: none;
}

.lxwm .form .title {
  text-align: center;
  height: 48px;
  font-size: 32px;
  font-weight: 400;
  color: rgba(40, 51, 75, 1);
  line-height: 48px;
}

.submit-success {
  display: none;
  padding-bottom: 57px;
}

.success-icon {
  background: url(../img/tjcg.svg) no-repeat center center;
  background-size: cover;
  height: 100px;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
  margin-top: 57px;
}

.success-icon .tip {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgba(40, 51, 75, 1);
  line-height: 26px;
}

.mobileuse {
  padding: 0;
  margin: 0;
  border: none;
}

.toptry {
  /* height: 50px; */
  /* line-height: 50px; */
  text-align: center;
}

#jg .title {
  font-size: 32px;
  font-weight: 400;
  color: rgba(40, 51, 75, 1);
  line-height: 48px;
}

#jg .item {
  margin: 0 auto;
  max-width: 280px;
  max-height: 200px;
  width: 100%;
  border-radius: 4px;
  padding: 24px 0;
  text-align: center;
  border-radius: 4px;
  margin-top: 32px;
  position: relative;
}

#jg .item.item1 {
  background: rgba(35, 173, 62, 1);
}

#jg .item.item2 {
  background: rgba(49, 127, 255, 1);
}

#jg .item.item3 {
  background: rgba(199, 40, 146, 1);
}

#jg .item.item1 .type::after {
  content: '';
  background: url(../img/webpcb.svg) no-repeat center center;
  background-size: cover;
  width: 62px;
  height: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#jg .item.item2 .type::after {
  content: '';
  background: url(../img/icxb.svg) no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 80px;
  position: absolute;
  right: 14px;
  bottom: 0;
}

#jg .item.item3 .type::before {
  content: '';
  background: url(../img/zhb1.svg) no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#jg .item.item3 .type::after {
  content: '';
  background: url(../img/zhb2.svg) no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 56px;
  position: absolute;
  right: 20px;
  bottom: 0;
}

#jg .item p,
#jg .item a {
  color: #fff;
}

#jg .item a {
  width: 123px;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(33, 139, 252, 1);
  line-height: 20px;
  border: none!important;
  outline: none!important;
}

#jg .item .type {
  height: 26px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 26px;
  margin-bottom: 16px;
}

#jg .item .price {
  height: 54px;
  font-size: 36px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 54px;
  margin-bottom: 24px;
}

#jg .item .price::after {
  content: ' 元/年';
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 20px;
}

.main-footer {
  min-height: 196px;
  background: rgba(23, 33, 45, 1);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
}

.main-footer .tip {
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(98, 119, 140, 1);
  line-height: 20px;
}

.main-footer .icons {
  margin-top: 25px;
  height: 24px;
}

.main-footer .icons .icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 20px;
}

.main-footer .icons .icon-1 {
  background: url(../img/hzga@2x.png) no-repeat center center;
  background-size: cover;
}

.main-footer .icons .icon-2 {
  background: url(../img/gsjg@2x.png) no-repeat center center;
  background-size: cover;
}

.main-footer .icons .icon-3 {
  background: url(../img/xypj@2x.png) no-repeat center center;
  background-size: cover;
}

.main-footer .footer-logo {
  background: url(../img/logo.svg) no-repeat center center;
  background-size: 100% auto;
  margin: 24px 0;
  height: 28px;
  width: 105px;
}

.main-footer .gzh {
  width: 116px;
  height: 144px;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  margin: 28px auto 24px;
  padding: 8px 8px 10px 8px;
}

.main-footer .gzh .ewm {
  width: 100px;
  height: 100px;
  background: url(../img/ewm@2x.png) no-repeat center center;
  background-size: cover;
}

.main-footer .gzh .ewm img {
  width: 100px;
  height: 100px;
}

.main-footer .gzh .tip {
  text-align: center;
  width: 100px;
  height: 18px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(98, 119, 140, 1);
  line-height: 18px;
  letter-spacing: 1px;
  margin: 8px auto 10px;
}

@media screen and (max-width: 728px) {
  .h-nav {
    width: 100%;
    padding: 0;
  }
  .logo {
    margin-left: 15px!important;
  }
  .shuxian {
    margin-left: 127px;
  }
  .logo::after {
    left: 110px;
  }
  /* .nav>li>a {
    padding: 0;
  } */
  .main-footer .icons .icon-1 {
    margin-left: 20px;
  }
  .main-server img {
    max-height: 140px;
    max-width: 140px;
  }
  .main-server .imgdes::before {
    top: 28px;
    width: 52px;
    height: 52px;
    left: calc(50% - 26px);
  }
  .main-server .imgdes::after {
    bottom: 14px;
    font-size: 16px;
  }
  .main-com img {
    width: 100%;
    left: 0;
  }
  .main-com.sum {
    background-size: 100% 100%;
  }
  .main-footer {
    text-align: center;
  }
  .main-footer .footer-logo {
    margin: 24px auto;
  }
}

@media screen and (max-width: 320px) {
  .main-server .imgdes::before {
    top: 16px;
  }
  .lxwm .form .title{
    font-size: 28px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 990px;
  }
}